body {
    margin: 0px;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    padding-bottom: 80px;
 }

.herotop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    margin-left: -40px;
}

.herocontent {
    display: flex;
    justify-content: space-around;
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 550px;
    gap: 5px;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 20px
}

.headlogo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.herotext {
    font-size: 18px;
    color: #E5E7EB;
}

.heromain {
    color: #F9FAF8;
    font-size: 48px;
}

.button1 {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #3882F6;
}

.imghead {
    height: 200px;
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.titletwo {
    font-size: 36px;
    font-weight: bolder;
    font-size: #1F2937;
    text-align: center;
    margin: 40px;
}

.sectiontwo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    }

.item {
    display: flex;  
    align-items: center; 
    flex-direction: column;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 300px;
    margin-top: 15px;
}

.sectionthree {
    background-color: #E5E7EB;
    padding: 80px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    }

.quote {
    font-size: 36px;
    font-style: italic; 
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 900px;
}

.signature {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-right: 250px;
}

.sectionfour {
    background-color: #3882F6;
    margin: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.action {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.signup {
    color: #E5E7EB;
    font-size: 16px;
}

.button2 {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: white;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}
